<div class="dashboard w-screen h-screen max-w-full max-h-full bg-white">
    <div class="dashboard-content w-full h-full flex">
        <div class="sideBar h-full w-2/12 bg-wallet-sideBar-bg">
            <div class="h-1/6 w-full px-5 py-4">
                <img src="../../../assets/images/wallet_logo.svg" class="max-w-full" alt="">
            </div>
            <div class="h-5/6 w-full px-5 pt-0 pb-2 -mt-8">
                <app-side-bar></app-side-bar>
            </div>
        </div>
        <div class="main_half h-full w-10/12">
            <div class="header_portion w-full h-[8vh] pl-5 pr-8">
                    <p class=" heading_text text-wallet-sideBar-bg text-sm">Hello, Enterprise Wallet Payments Salary Account</p>
                    <p class="logout">
                        <svg class="mx-3" width="16" height="10" viewBox="0 0 16 10" fill="none">
                            <path d="M8.00069 9.56015C7.71394 9.56015 7.42722 9.45066 7.2086 9.23214L0.328959 2.35243C-0.108676 1.9148 -0.108676 1.20525 0.328959 0.767791C0.766416 0.330333 1.47582 0.330333 1.91349 0.767791L8.00069 6.85534L14.0879 0.768003C14.5256 0.330545 15.2349 0.330545 15.6723 0.768003C16.1102 1.20546 16.1102 1.91501 15.6723 2.35265L8.79278 9.23235C8.57405 9.45091 8.28733 9.56015 8.00069 9.56015Z" fill="#011627"/>
                        </svg>

                        <button class="">
                            Logout
                        </button>
                    </p>
            </div>
            <div class="rest_of_main_half ">
                <div class="w-full h-full mt-10 px-10">
                    <div class="heading">
                        Settings
                    </div>

                    <div class="tab_container">
                        <div class="w-5/6 mt-4 px-4 rounded">
                            <!-- Tabs -->
                            <ul id="tabs" class="inline-flex w-full px-1 pt-2 ">
                              <li class="px-4 py-2 mx-5 -mb-px font-semibold  border-b-2 border-wallet-sideBar-bg rounded-t"><a id="default-tab" class="selected" href="#first">Profile</a></li>
                              <li class="px-4 py-2 mx-5 font-semibold rounded-t "><a href="#second">Security</a></li>
                              <li class="px-4 py-2 mx-5 font-semibold rounded-t "><a href="#third">Documents</a></li>
                              <li class="px-4 py-2 mx-5 font-semibold rounded-t "><a href="#fourth">Developer Keys</a></li>
                            </ul>
    
                            <!-- Tab Contents -->
                            <div id="tab-contents" class="h-auto mx-4">
                              <div id="first" class="p-4 w-full py-8 h-full flex ">
                                <div class="h-32 w-2/12 flex justify-center ">
                                    <div class="logo_container">
                                        <div class="h-20 w-20 border-4 mb-2 border-wallet-input-bg rounded-full">

                                        </div>
                                        <div class="px-4">
                                            <a href="javascript:void(0)">
                                                Logo
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile_information  h-auto w-10/12 ">
                                    <div class="w-full px-2 py-2">
                                        <p class="text-xl font-medium">Business Name</p>
                                        <span class="block">Enterprise Wallet Payments Limited</span>
                                    </div>

                                    <div class="w-full px-2 py-2 flex gap-5">
                                      <div class="w-1/2">
                                        <p class="text-xl font-medium">Email</p>
                                        <span class="block">https://wallets.africa/@ewpl
                                        </span>
                                      </div>

                                       <div class="w-1/2">
                                        <p class="text-xl font-medium">Phone Number</p>
                                        <span class="block">2349067328833
                                        </span>
                                       </div>
                                    </div>
                                    <div class="w-full px-2 py-2">
                                        <p class="text-xl font-medium">Business Address</p>
                                        <span class="block">Block 6, House 1b, Mobolaji Johnson Estate,
                                            Adewunmi Adebimpe Street, Lekki, Lagos
                                        </span>
                                    </div>
                                    <div class="w-full px-2 py-4">
                                        <p class="text-xl font-medium">Payment URL</p>
                                        <span class="block">
                                            https://wallets.africa/@ewpl
                                        </span>
                                    </div>

                                    <div class="w-full px-2 py-2 mb-10">
                                        <button class="transition-all border-2 border-wallet-sideBar-bg px-4 cursor-pointer py-2 opacity-80 text-wallet-sideBar-bg rounded-sm hover:text-white hover:bg-wallet-sideBar-bg hover:opacity-100">
                                            Edit Profile
                                        </button>
                                    </div>
                                </div>
                              </div>
                              <div id="second" class="hidden p-4  w-full py-8 h-full">
                                <div class="layer">
                                    <div>
                                      <h5>PND User</h5>
                                      <p>Last changed 7 May 2018</p>
                                    </div>
                                    <button class=" px-4">
                                        change password
                                    </button>
                                 </div>
                                 <div class="layer">
                                     <div>
                                         <h5>Transaction PIN</h5>
                                         <p>Last changed 7 May 2018</p>
                                       </div>
                                       <button class=" px-9 ">
                                           change pin
                                       </button>
                                 </div>
                                 <div class="layer">
                                     <div>
                                         <h5>Two Factor Authentication</h5>
                                         <p>off</p>
                                       </div>
                                       <button class=" px-12 ">
                                           Turn on
                                       </button>
                                 </div>
                              </div>
                              <div id="third" class="hidden p-4">
                                Third tab
                              </div>
                              <div id="fourth" class="hidden p-4">
                                Fourth tab
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>