<ul class="list">
    <li routerLink="/dashboard" class="py-4 list_item  cursor-pointer  text-white">Dashboard</li>
    <li class="py-4 list_item  cursor-pointer text-white">Users</li>
    <li class="py-4 list_item  cursor-pointer text-white flex justify-between w-full">Send Money <img class="ml-3" src="../../../assets/images/chevron_right.svg" alt=""></li>
    <li class="py-4 list_item  cursor-pointer text-white">Request Money</li>
    <li class="py-4 list_item  cursor-pointer text-white">Buy Airtime</li>
    <li class="py-4 list_item  cursor-pointer text-white">Pay Bills</li>
    <li class="py-4 list_item  cursor-pointer text-white">Cards</li>
    <li routerLink="/settings" class="py-4 list_item  cursor-pointer text-white">Settings</li>
    <li class="py-4 list_item  cursor-pointer text-white flex justify-between w-full">Reports  <img class="ml-3" src="../../../assets/images/chevron_right.svg" alt=""></li>
    <li class="py-4 list_item  cursor-pointer text-white">Api Documentation</li>
</ul>